.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ab577e;
  animation: fadeEffect 4s forwards;
  z-index: 9999; /* Make sure this is above all other content */
}

@keyframes fadeEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
