:root {
  --primary-green: #1db954;
  --black: #252525;
  --white: #fff;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}
