:root {
  background-color: #e93d1e;
}

body {
  margin: 0;
  font-family: Circular, Helvetica, Arial, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4em;
  padding-top: 100px;
  margin-bottom: 0;
}

.no-padding {
  position: relative;
  padding-top: 0;
  top: -50px;
}

.alert {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items:flex-end;
  flex-wrap: wrap;
  margin: 2% 2% 0 0;
}

.alert-text {
  width:30%;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.logo {
  font-size: 8em;
  padding-left: 10%;
  padding-bottom: 0;
  margin-bottom: 0;
}

a {
  color: #ffff;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center {
  text-align: center;
}

.justify-right {
  text-align: right;
}

.margin-medium {
  margin: 20px;
}

.margin-large {
  margin: 30px 100px;
  text-align: left;
}

.margin-largest {
  margin: 30px 200px;
  text-align: left;
}

.third-width {
  width: 30%;
}


.connect {
  background-color: #f7583b;
  text-decoration: none;
  width: fit-content;
  padding: 20px 30px;
  border-radius: 50px;
  border: 1px transparent solid;
  color: #ffff;
  font-size: 1em;
}

.connect:hover {
  border: 1px #ffffff solid;
  background-color: #e93d1e;
}

.large-font {
  font-size: 3em;
}

.border-radius {
  border-radius: 30px;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 10%;
}

.me-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.song-container {
  background-color: #dd2302;
  border-radius: 50px;
  width: fit-content;
  padding: 20px;
  margin: 10px;
}

.wave {
  width: 200px;
  padding-left: 5%;
}

.wave-large {
  width: 300px;
  padding-left: 5%;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.intro-elements {
  width: 50%;
}

.percentage {
  display: relative;
  top: -50px;
  font-size: 4em;
}

.intro-text {
  margin: 20px 100px;
}



.profile-btn {
  background-color: #f7583b;
  text-decoration: none;
  width: 400px;
  height: 400px;
  padding: 0;
  border-radius: 400px;
  border: 1px transparent solid;
  color: #ffff;
  font-size: 1em;
  margin: 50px;
  position: relative;
  top: -130px;
}

.valence-btn {
  background-color: #f7583b;
  text-decoration: none;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 200px;
  border: 1px transparent solid;
  color: #ffff;
  font-size: .8em;
  margin: 50px;
  position: relative;
}

.profile-btn:hover {
  border: 1px #ffffff solid;
  background-color: #e93d1e;
}

.valence-btn:hover {
  border: 1px #ffffff solid;
  background-color: #e93d1e;
}

.score-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.padding-large {
  width: 15%;
}



.shrink {
  width: 30%;
  align-items: justify;
  margin: 10%;
}


.floating { 
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.hide {
  display: none;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.floating2 { 
  animation-name: floating2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating2 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 25px); }
  100%   { transform: translate(0, -0px); }   
}

.floating3 { 
  animation-name: floating3;
  animation-duration: 2.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating3 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 20px); }
  100%   { transform: translate(0, -0px); }   
}

.orbit {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: relative;
  top: -250px;

  -webkit-animation: myOrbit 15s linear infinite; /* Chrome, Safari 5 */
     -moz-animation: myOrbit 15s linear infinite; /* Firefox 5-15 */
       -o-animation: myOrbit 15s linear infinite; /* Opera 12+ */
          animation: myOrbit 15s linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}

@-webkit-keyframes myOrbit {
  from { -webkit-transform: rotate(0deg) translateX(200px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
  from { -moz-transform: rotate(0deg) translateX(200px) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
  from { -o-transform: rotate(0deg) translateX(200px) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@media screen and (max-width: 1000px) {
  .intro-elements {
    width: 100%;
  }
  .intro-text {
    margin: 20px 75px;
  }
  .profile-btn {
    top: 0;
    margin: 75px;
  }
  .valence-btn {
    top: 0;
  }

  .orbit {
    top: -200px;
  }

  .third-width {
    width: 70%;
  }
}


.modal {

  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

}

.modal-content {
  background-color: #fefefe;
  border-radius: 15px;
  margin: 15% auto; 
  padding: 20px;
  border: none;
  width: 50%; 
}

.close {
  color: #e93d1e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.modal-text{
  color:#e93d1e;
}

.modal-link {
  color:#e93d1e;
  text-decoration: underline;
}

